<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    darkMode: 'class',
    theme: {
      extend: {
        colors: {
          sidebar: {
            DEFAULT: 'rgb(var(--ctp-base-rgb) / <alpha-value>)',
            hover:   'rgb(var(--ctp-surface0-rgb) / <alpha-value>)',
            active:  'rgb(var(--ctp-surface1-rgb) / <alpha-value>)',
          },
          surface: {
            DEFAULT: 'rgb(var(--ctp-mantle-rgb) / <alpha-value>)',
            card:    'rgb(var(--ctp-base-rgb) / <alpha-value>)',
            hover:   'rgb(var(--ctp-surface0-rgb) / <alpha-value>)',
          },
          accent: {
            DEFAULT: 'rgb(var(--ctp-blue-rgb) / <alpha-value>)',
            green:   'rgb(var(--ctp-green-rgb) / <alpha-value>)',
            red:     'rgb(var(--ctp-red-rgb) / <alpha-value>)',
            yellow:  'rgb(var(--ctp-yellow-rgb) / <alpha-value>)',
            purple:  'rgb(var(--ctp-mauve-rgb) / <alpha-value>)',
          },
        }
      }
    }
  }
</script>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="stylesheet" href="/static/style.css">
